<div id="contact-detail" class="main-box-contact" style="display: none;">
    <div class="box-right-content-header-default">
        <b>Thông tin liên hệ</b>
    </div>
    <div class="box-main-contact">
        <div class="box-main-contact-body">
            <div>
                <img id="contact-img" src="" alt="">
            </div>
            <div class="mt-2 mb-2">
                <h4 id="contact-name" class="text-center"></h4>
            </div>
            <div class="box-main-contact-control">
                <div>
                    <i class="mdi mdi-message-text"></i>
                    <span><a href="chat.html">Nhắn tin</a></span>
                </div>
                <div data-toggle="modal" data-target="#modalOutgoingCall">
                    <i class="mdi mdi-account-box-outline"></i>
                    <span>Cuộc gọi video</span>
                </div>
            </div>
            <div class="box-main-contact-body-detail">
                <div><i class="mdi mdi-gender-male-female"></i> <span id="contact-gender"></span></div>
                <div><i class="mdi mdi-cake"></i> <span id="contact-birthday"></span></div>
                <div><i class="mdi mdi-cellphone"></i> <span id="contact-phone"></span></div>
                <div><i class="mdi mdi-email-outline"></i> <span id="contact-email"></span></div>
                <div><i class="mdi mdi-map-marker"></i> <span id="contact-address"></span></div>
            </div>
        </div>
    </div>
</div>